@page "/Cash_Flow_Add"
@using MoneyMap.Data;
@using MudBlazor;
@inject NavigationManager NM;
@inject Cash_Flow_Service CFS;

@if(result == 0){
    <div class="text-success">
        Changes Saved
    </div>
}
@if(result != 0 && result != 99){
    <div class="text-danger">
        Update failed
    </div>
}
<EditForm Model=@cf OnInvalidSubmit=@InvalidFormSubmitted OnValidSubmit=@ValidFormSubmitted>
    <DataAnnotationsValidator/>
    <ValidationSummary/>

        <div class="row">
            <div class=" col-md-4">
                <MudCard>
                    <MudCardHeader>
                        <CardHeaderContent>
                            <h2>Add Transaction</h2>

                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <div class=" form-group">
                            <label for="movement_date" class="control-label">Date</label>
                            <input for="movement_date" class="form-control" @bind=cf.movement_date />
                        </div>
                        <div class=" form-group">
                            <label for="movement" class="control-label">Movement</label>
                            <input for="movement" class="form-control" @bind=cf.movement />
                        </div>
                        <div class=" form-group">
                            <label for="description" class="control-label">Description</label>
                            <input for="description" class="form-control" @bind=cf.description />
                        </div>
                        <div class=" form-group">
                            <label for="dd" class="control-label">Details</label>
                            <input for="dd" class="form-control" @bind=cf.detailed_description />
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" value="Save">
                            <input type="button" class="btn btn-primary" value="Back" @onclick="Cancel">
                        </div>
                    </MudCardContent>   
                </MudCard>    
            </div>
        </div>
</EditForm>

@code{
    public Cash_Flow cf = new();
    public int result{get; set;} = 99;

    public void ValidFormSubmitted(EditContext context){
        result = CFS.Create(cf);
    }

    public void InvalidFormSubmitted(EditContext context){

        return;
    }
    public void Cancel(){
        NM.NavigateTo("/");
    }
}