@page "/DonutChart"
@using MudBlazor 

@if(pieDictionary is null){
    <p>loading...</p>
}
else {
        string[] labels = new string[pieDictionary.Count()];
        double[] data = new double[pieDictionary.Count()];
        int i = 0;
        foreach (string k in pieDictionary.Keys){
            labels[i] = k;
            data[i] = pieDictionary[k];
            i++;

    }
    <MudPaper Class="pa-4">
        <MudChart ChartType="ChartType.Donut" Width="300px" Height="300px" InputData="@data" InputLabels="@labels"></MudChart>
    </MudPaper>
}


@code {

    [Parameter]
    public Dictionary<string, double> pieDictionary{get; set;}

}
