@page "/FlowTable"
@using MoneyMap.Data;
@inject Cash_Flow_Service CFS;

@if(cash_flows is null){
    <em>Loading..</em>
}
else { 
        <h2>Latest Transactions</h2>

        <table class="table">

            <thead>
                <tr>
                    <th>Movement</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (Cash_Flow c in cash_flows.OrderByDescending(c => c.movement_date))
                {
                    <tr>
                        <td>@c.description</td>
                        @if(c.movement>0){
                            <td class="text-success">@c.movement</td>
                        }
                        else {
                        <td class="text-danger">@c.movement</td>
                        }
                        
                        <td>
                            <a href="Cash_Flow_Edit/@c.idFlow" class="btn btn-light" 
                                 aria-disabled="true">
                                    <span class="oi oi-pencil" aria-hidden="true">
                                    </span>
                            </a>
                        </td>
                    </tr>
                }

                </tbody>
        </table>

}

@code{
    [Parameter]
    public List<Cash_Flow> cash_flows{get;set;}
}