@page "/FlowTable"
@using MoneyMap.Data;
@inject Cash_Flow_Service CFS;

@if(cash_flows is null){
    <em>Loading..</em>
}
else { 
        <h2>Latest Transactions</h2>

        <table class="table">

            <thead>
                <tr>
                    <th>Movement</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>

                @foreach (Cash_Flow c in cash_flows.OrderByDescending(c => c.movement_date))
                {
                    <tr>
                        @if(c.movement>0){
                            <td class="table-success">@c.movement</td>
                        }
                        else {
                        <td class="table-danger">@c.movement</td>
                        }
                        <td>@c.description</td>
                    </tr>
                }

                </tbody>
        </table>

}

@code{
    [Parameter]
    public List<Cash_Flow> cash_flows{get;set;}
}